.trackHolder {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 20px;
}

.trackHolder .track {
	width: 7px;
	background: rgba(0,0,0, 0.5);
	height: 10px;
	border-radius: 5px;
	position: absolute;
	top: 1px;
	right: 2px;
	display: none;
}

.jas-relative {
	position: relative;
}

.jas-container {
	position:absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
}

.jas-content {
	top: 0;
	position: relative;
}